@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,500;1,400&family=Roboto&display=swap');

.exo-2{
  font-family: 'Exo 2';
}

.t-s{
  font-size: calc(1vw + 1vw);
}

.t-m{
  font-size: calc(2vw + 2vw);
}

.t-l{
  font-size: calc(3vw + 3vw);
}

.t-xl{
  font-size: calc(4vw + 4vw);
}

.t-2xl{
  font-size: calc(5vw + 5vw);
}

.t-4xl{
  font-size: calc(6vw + 6vw);
}

.t-8xl{
  font-size: calc(8vw + 8vw);
}
canvas{
  height: inherit;
  width: inherit;
}

.container-img-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 400px;
	height: 500px;

}

.container-img {
	position: absolute ;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
